@page
@model KnowBooks.Pages.YourBooks.ReturnModel

@{
    ViewData["Title"] = "Return";
}

<h1>Book Returned!</h1>

<h4>@Model.Book.Title</h4>
<hr />

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
